@media screen and (min-width: 1366px) and (max-width: 1688px) {
    
#hwanAh_wrap .quick_menu_btn{
    transform: scale(0.8);
    transform-origin: bottom right 40px;
}
    
    
    
    
#hwanAh_wrap .sec04 > img{
    display: block;
    left: auto;
    right: -100px;
}

}



@media screen and (min-width: 1201px) and (max-width: 1366px) {



#hwanAh_wrap .quick_menu_btn{
    transform: scale(0.8);
    transform-origin: bottom right 40px;
}




/* common */
#hwanAh_wrap .common_txt_size_26{
    font-size: 24px;
}
#hwanAh_wrap .common_txt_size_20{
    font-size: 18px;
}
#hwanAh_wrap .sec04 .m_tit{
    font-size: 50px;
}
#hwanAh_wrap .tit::before{
    background-size: 42px auto;
}
#hwanAh_wrap .tit::after{
    background-size: 42px auto;
}


/* visual */
#hwanAh_wrap .visual{
    padding:308px 15px 0;
}
#hwanAh_wrap .visual .txt_box .visual_tit{
    font-size: 60px;
}
#hwanAh_wrap .visual .txt_box .visual_txt01{
    font-size: 20px;
}
#hwanAh_wrap .visual .txt_box .visual_txt02{
    font-size: 18px;
    font-weight: 500;
}
#hwanAh_wrap .visual .txt_box .visual_txt03{
    font-size: 16px;
    margin-bottom: 25px;
}

/* section02 */
#hwanAh_wrap .tit_txt_wr{
    padding:78px 15px 47px 40px;
    background: url(../sec02_text_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .tit{
    margin-bottom: 23px;
    font-size: 62px;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .txt01{
    margin-bottom:24px;
}

/* section03 */
#hwanAh_wrap .sec03_top{
    background-position: center 59%;
}
#hwanAh_wrap .sec03_top .img_box{
    width: calc(100% - 1462px);
    right: -232px;
}
#hwanAh_wrap .sec03_top .img_box > div{
    right:-203px;
}
#hwanAh_wrap .sec03_top .txt_box{
    padding:142px 98px;
    right:-373px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt01{
    font-size: 27px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt02{
    font-size: 50px;
}

#hwanAh_wrap .double_quotation_icon{
    background-size: 115px auto;
}

#hwanAh_wrap .sec03_bottom{
    padding:140px 15px 200px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box > .text_wr{
    line-height: 1.42;
    font-size: 17px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section04 */

#hwanAh_wrap .sec04 > img{
    display: block;
    left: -400px;
}

/* section05 */
#hwanAh_wrap .sec05 .sec05_top{
    padding:128px 15px 93px;
}
#hwanAh_wrap .sec05 .sec05_top .tit{
    font-size: 50px;
}

#hwanAh_wrap .sec05 .sec05_bottom{
    padding:176px 15px 40px;
}
#hwanAh_wrap .sec05 .sec05_bottom .sec05_txt01 > .sec05_tit{
    font-size: 50px;
}
#hwanAh_wrap .sec05 .sec05_bottom .hwan_ah_btn{
    width: 390px;
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    background: url(../visual_btn.png) no-repeat;
    padding-right: 60px;
    border-radius: 40px;
}

/* section06 */
#hwanAh_wrap .sec06{
    padding: 175px 15px 180px;
}
#hwanAh_wrap .sec06 .sec06_tit{
    font-size: 50px;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_txt{
    font-size: 16px;
}






} /* 1366 */




@media screen and (min-width: 1025px) and (max-width: 1200px) {
#hwanAh_wrap .quick_menu_btn{display: none;}
#hwanAh_wrap .pc_img{display: none;}

    

#hwanAh_wrap .only_t{display: block;}



/* common */
#hwanAh_wrap .common_txt_size_26{
    font-size: 21px;
}
#hwanAh_wrap .common_txt_size_20{
    font-size: 17px;
}
#hwanAh_wrap .sec04 .m_tit{
    font-size: 50px;
}
#hwanAh_wrap .tit::before{
    background-size: 42px auto;
}
#hwanAh_wrap .tit::after{
    background-size: 42px auto;
}

/* floating button */
#hwanAh_wrap .m_quick_menu_btn {
    z-index: 150;
    position: fixed;
    bottom:0;
    left:51.5%;
    transform: translateX(-50%);
    display: block;
    width: 370px;
    height: 117px;
    background:url(../mob/m_floating_btn.png) no-repeat;
    background-size: 370px auto;
}


/* visual */
#hwanAh_wrap .visual{
    padding:308px 15px 0;
}
#hwanAh_wrap .visual .txt_box .visual_tit{
    font-size: 60px;
}
#hwanAh_wrap .visual .txt_box .visual_txt01{
    font-size: 20px;
}
#hwanAh_wrap .visual .txt_box .visual_txt02{
    font-size: 18px;
    font-weight: 500;
}
#hwanAh_wrap .visual .txt_box .visual_txt03{
    font-size: 16px;
    margin-bottom: 25px;
}

/* section02 */
#hwanAh_wrap .tit_txt_wr{
    padding:78px 15px 47px 40px;
    background: url(../sec02_text_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .tit{
    margin-bottom: 23px;
    font-size: 52px;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .txt01{
    margin-bottom:24px;
}

/* section03 */
#hwanAh_wrap .sec03_top{
    background-position: center 59%;
}
#hwanAh_wrap .sec03_top .img_box{
    width: calc(100% - 1462px);
    right: -232px;
}
#hwanAh_wrap .sec03_top .img_box > div{
    right:-203px;
}
#hwanAh_wrap .sec03_top .txt_box{
    padding:142px 98px;
    right:-373px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt01{
    font-size: 27px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt02{
    font-size: 50px;
}

#hwanAh_wrap .double_quotation_icon{
    background-size: 115px auto;
}

#hwanAh_wrap .sec03_bottom{
    padding:140px 15px 200px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box > .text_wr{
    line-height: 1.42;
    font-size: 17px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section04 */
#hwanAh_wrap .sec04{
    padding:50px 0 0;
    background: url(../mob/m_sec04_bttm_img_bg.jpg);
}
#hwanAh_wrap .sec04 .inner_1200{
    padding:0 15px 0 40px;
}

#hwanAh_wrap .t_fade_img_wr{
    display: block;
    position: relative;
}
#hwanAh_wrap .sec04 > img{
    position: static;
    min-width: 100%;
}
#hwanAh_wrap .sec04 .fd_in{
    position: absolute;
    top:0;
}
#hwanAh_wrap .sec04 .m_fade_img_wr .fade_in_out{
    position: absolute;
    top:0;
}

/* section05 */
#hwanAh_wrap .sec05 .sec05_top{
    padding:128px 15px 93px;
}
#hwanAh_wrap .sec05 .sec05_top .tit{
    font-size: 50px;
}

#hwanAh_wrap .sec05 .sec05_bottom{
    padding:176px 15px 40px;
}
#hwanAh_wrap .sec05 .sec05_bottom .sec05_txt01 > .sec05_tit{
    font-size: 50px;
}
#hwanAh_wrap .sec05 .sec05_bottom .hwan_ah_btn{
    width: 390px;
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    background: url(../visual_btn.png) no-repeat;
    background-size: 390px auto;
    padding-right: 60px;
    border-radius: 40px;
}

/* section06 */
#hwanAh_wrap .sec06{
    padding: 175px 15px 180px;
}
#hwanAh_wrap .sec06 .sec06_tit{
    font-size: 50px;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_txt{
    font-size: 16px;
}


		
} /* 1200 */

@media screen and (min-width: 768px) and (max-width: 1024px) {
#hwanAh_wrap .quick_menu_btn{display: none;}
#hwanAh_wrap .visual .txt_box .visual_btn{display: none;}
#hwanAh_wrap .tit::before{display: none;}
#hwanAh_wrap .tit::after{display: none;}
#hwanAh_wrap .m_sec02_bottom_bg{display: none;}
#hwanAh_wrap .sec03_top .img_box > div .pc_sec03_img{display: none;}
#hwanAh_wrap .pc_img{display: none;}
/* #hwanAh_wrap .pc_img{display: none;}

#hwanAh_wrap .m_fade_img_wr{display: block;} */




/* common */
#hwanAh_wrap .m_tit{
    font-size: 40px !important;
    line-height: 1.263 !important;
}




/* floating button */
#hwanAh_wrap .m_quick_menu_btn {
    z-index: 150;
    position: fixed;
    bottom:0;
    left:51.5%;
    transform: translateX(-50%);
    display: block;
    width: 370px;
    height: 117px;
    background:url(../mob/m_floating_btn.png) no-repeat;
    background-size: 370px auto;
}


/* visual */
#hwanAh_wrap .visual{
    padding:293px 15px 0;
}
#hwanAh_wrap .tit_txt_wr{
    padding:162px 30px 94px;
}
#hwanAh_wrap .visual .txt_box .visual_tit{
    font-size: 60px;
}
#hwanAh_wrap .visual .txt_box .visual_txt01{
    font-size: 20px;
}
#hwanAh_wrap .visual .txt_box .visual_txt02{
    font-size: 18px;
    font-weight: 500;
}
#hwanAh_wrap .visual .txt_box .visual_txt03{
    font-size: 16px;
    margin-bottom: 25px;
}

#hwanAh_wrap .tit_txt_wr{
    padding:78px 15px 47px;
    background: url(../mob/m_sec02_text_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .tit{
    margin-bottom: 23px;
    font-size: 52px;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .txt01{
    margin-bottom:24px;
}

/* section03 */
#hwanAh_wrap .sec03_top{
    width: 100%;
}
#hwanAh_wrap .sec03_top .txt_box{
    padding:90px 15px 188px;
    width: 100%;
    border-radius: 0;
}
#hwanAh_wrap .sec03_top .txt_box > .txt01{
    font-size: 18px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt02{
    margin:17px 0 36px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt03{
    margin-bottom:17px;
    font-size: 18px;
    line-height: 1.555;
}

#hwanAh_wrap .sec03_top .img_box{
    padding:0 15px;
    width: 100%;
    position: static;
}
#hwanAh_wrap .sec03_top .img_box > img{
    display: none;
}
#hwanAh_wrap .sec03_top .img_box > div{
    top:auto;
    right:auto;
    border-radius: 10px;
    bottom:-150px;
    left:50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    max-width: 380px;
}
#hwanAh_wrap .sec03_top .img_box > div .m_sec03_img{
    display: block;
    width: 100%;
}
#hwanAh_wrap .double_quotation_icon{
    width: 112px;
    height: 112px;
    background-size: 112px auto;
    left: 29px;
}

#hwanAh_wrap .sec03_bottom{
    padding:211px 0 200px;
    background: url(../mob/m_sec03_bttm_img_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .sec03_bottom > div{
    padding:0 15px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box{
    position: relative;
    width: calc(50% - 5px);
    padding:10px;
    margin-right: 0;
}
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(1),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(2){
    margin-bottom: 70px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(1),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(3){
    margin-right: 10px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box > .text_wr{
    line-height: 1.42;
    font-size: 17px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* section04 */
#hwanAh_wrap .sec04{
    padding:50px 0 0;
    background: url(../mob/m_sec04_bttm_img_bg.jpg);
}
#hwanAh_wrap .sec04 .inner_1200{
    padding:0 15px;
}

#hwanAh_wrap .t_fade_img_wr{
    display: block;
    position: relative;
}
#hwanAh_wrap .sec04 > img{
    position: static;
    min-width: 100%;
}
#hwanAh_wrap .sec04 .fd_in{
    position: absolute;
    top:0;
}
#hwanAh_wrap .sec04 .m_fade_img_wr .fade_in_out{
    position: absolute;
    top:0;
}

/* section05 */
#hwanAh_wrap .sec04 .tit_txt_wr_in{
    flex-direction: column-reverse;
}
#hwanAh_wrap .sec05 .sec05_top{
    padding:70px 15px 26px;
}

#hwanAh_wrap .sec05 .sec05_bottom{
    /* padding:176px 30px 40px; */
    padding: 480px 15px 40px;
    background: url(../mob/m_section05_cont_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
}
#hwanAh_wrap .sec05 .sec05_bottom .sec05_txt01 > .sec05_tit{
    margin:23px 0 40px;
}
#hwanAh_wrap .sec05 .sec05_top .left_txt{
    padding-top: 0;
}
#hwanAh_wrap .sec05 .sec05_top .left_txt > .text01 {
    margin: 26px 0 16px;
    font-weight: 500;
    font-size: 22px;
}
#hwanAh_wrap .sec05 .sec05_top .left_txt > .text02 {
    font-size: 18px;
}
#hwanAh_wrap .sec05 .sec05_bottom .hwan_ah_btn{
    margin-bottom: 120px;
    width: 330px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 20px;
    background: url(../mob/m_hwanAh_btn.png) no-repeat;
    background-size: 330px auto;
}
#hwanAh_wrap .sec05 .sec05_bottom .warning_txt{

}


/* section06 */
#hwanAh_wrap .sec06{
    padding:175px 15px 180px;
}
#hwanAh_wrap .sec06 .cont_list_wrap{
    display: block;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_box{
    width: 100%;
    margin-bottom: 30px;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_img_box img{
    width: 100%;
}

#hwanAh_wrap .campaign_txt{
    padding: 24px 15px 26px;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.71;
}


} /* 1024 */


@media screen and (min-width: 321px) and (max-width: 767px) {
#hwanAh_wrap .sec02_bottom_bg{display:none;}
#hwanAh_wrap .only_pc{display: none;}
#hwanAh_wrap .quick_menu_btn{display: none;}
#hwanAh_wrap .visual .txt_box .visual_btn{display: none;}
#hwanAh_wrap .tit::before{display: none;}
#hwanAh_wrap .tit::after{display: none;}
#hwanAh_wrap .sec03_top .img_box > div .pc_sec03_img{display: none;}
#hwanAh_wrap .pc_txt{display: none;}


#hwanAh_wrap .t_fade_img_wr{display: none;}

#hwanAh_wrap .only_mob{display: block;}
#hwanAh_wrap .mob_txt{display: block;}
#hwanAh_wrap .m_fade_img_wr{display: block;}

/* common */
/* #hwanAh_wrap .sec > div{
    padding:0 15px;
} */
#hwanAh_wrap .mob_common_padding{
    padding:0 15px;
}
#hwanAh_wrap .m_tit{
    font-size: 38px !important;
    line-height: 1.263 !important;
}
#hwanAh_wrap .common_txt_size_20{
    font-size: 14px;
    line-height: 1.714;
}
#hwanAh_wrap .common_txt_size_26{
    font-size: 18px;
    line-height: 1.55;
}
/* #hwanAh_wrap .m_img{display: block; width: 100%;}*/
#hwanAh_wrap .pc_img{display: none;} 


/* floating button */
#hwanAh_wrap .m_quick_menu_btn {
    z-index: 150;
    position: fixed;
    bottom:0;
    left:51.5%;
    transform: translateX(-50%);
    display: block;
    width: 370px;
    height: 117px;
    background:url(../mob/m_floating_btn.png) no-repeat;
    background-size: 370px auto;
}



/* visual */
#hwanAh_wrap .visual{
    padding:293px 15px 0;
    height: auto;
    background: url(../mob/m_visual_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .visual .txt_box .visual_tit{
    font-size: 52px;
}
#hwanAh_wrap .visual .txt_box .visual_txt01{
    font-size: 18px;
    line-height: 1.55;
}
#hwanAh_wrap .visual .common_txt_color{
    font-weight: 400;
}
#hwanAh_wrap .visual .txt_box .visual_txt02{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
#hwanAh_wrap .visual .txt_box .visual_txt03{
    font-size: 14px;
    margin-bottom:22px;
}
#hwanAh_wrap .visual .txt_box .warning_txt{
    font-size: 12px;
    display: block;
}
#hwanAh_wrap .visual .txt_box .warning_txt .warning_icon{
    margin-right: 0px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

#hwanAh_wrap .visual .video_box{
    margin-top:50px;
    padding-bottom: 56%;
}
#hwanAh_wrap .visual .video_box iframe{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

/* section02 */
#hwanAh_wrap .tit_txt_wr{
    padding:78px 15px 47px;
    background: url(../mob/m_sec02_text_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .tit{
    margin-bottom: 23px;
    font-size: 52px;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .txt01{
    margin-bottom:24px;
}
#hwanAh_wrap .m_sec02_bottom_bg {
    display: block;

}
#hwanAh_wrap .m_sec02_bottom_bg > img{
    width: 100%;

}

/* section03 */
#hwanAh_wrap .sec03_top{
    width: 100%;
}
#hwanAh_wrap .sec03_top .txt_box{
    padding:90px 15px 188px;
    width: 100%;
    border-radius: 0;
}
#hwanAh_wrap .sec03_top .txt_box > .txt01{
    font-size: 18px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt02{
    margin:17px 0 36px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt03{
    margin-bottom:17px;
    font-size: 18px;
    line-height: 1.555;
}

#hwanAh_wrap .sec03_top .img_box{
    padding:0 15px;
    width: 100%;
    position: static;
}
#hwanAh_wrap .sec03_top .img_box > img{
    display: none;
}
#hwanAh_wrap .sec03_top .img_box > div{
    top:auto;
    right:auto;
    border-radius: 10px;
    bottom:-150px;
    left:50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    max-width: 380px;
}
#hwanAh_wrap .sec03_top .img_box > div .m_sec03_img{
    display: block;
    width: 100%;
}
#hwanAh_wrap .double_quotation_icon{
    width: 112px;
    height: 112px;
    background-size: 112px auto;
    left: 29px;
}

#hwanAh_wrap .sec03_bottom{
    padding:211px 0 177px;
    background: url(../mob/m_sec03_bttm_img_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .sec03_bottom > div{
    padding:0 15px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box{
    position: relative;
    width: calc(50% - 5px);
    padding:4px;
    margin-right: 0;
}
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(1),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(2){
    margin-bottom: 70px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(1),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(3){
    margin-right: 10px;
}
/* #hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(2),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(4){
    top:110px;
} */
#hwanAh_wrap .sec03_bottom .contents_list_box > .text_wr{
    line-height: 1.42;
    font-size: 14px;
    padding: 8px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section04 */
#hwanAh_wrap .sec04{
    position: relative;
    padding:0;
    width: 100%;
    background: url(../mob/m_sec04_bttm_img_bg.jpg);
}

#hwanAh_wrap .sec04 .inner_1200{
    padding:0 15px;
}
#hwanAh_wrap .sec04 .tit{
    margin-bottom: 36px;
}
#hwanAh_wrap .sec04 .text01{
    font-weight: 500;
}
#hwanAh_wrap .sec04 .text02{
    margin:31px 0 26px;
}

#hwanAh_wrap .m_fade_img_wr{
    position: relative;
    width: 100%;
}
#hwanAh_wrap .sec04 .m_fade_img_wr > img{
    width: 100%;
}
#hwanAh_wrap .sec04 .m_fade_img_wr .fade_in_out{
    position: absolute;
    animation: bg_fadeInOut_bg 4s 2s infinite linear alternate;
}
@keyframes bg_fadeInOut_bg {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    0% {
        opacity: 1;
    }
}
#hwanAh_wrap .sec04 > img{
    position: static;
    min-width: 100%;
    z-index: 0;
    width: 100%;
}

/* section05 */
#hwanAh_wrap .sec05 .sec05_top{
    padding:61px 15px 44px;
    background: url(../mob/m_sec05_text_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .sec05 .sec05_top .tit_txt_wr_in {
    flex-direction: column-reverse;
}
#hwanAh_wrap .sec05 .sec05_top .text01{
    margin:26px 0 16px;
    font-weight: 500;
}

#hwanAh_wrap .sec05 .sec05_bottom{
    padding: 480px 15px 40px;
    background: url(../mob/m_section05_cont_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
}
#hwanAh_wrap .sec05 .sec05_bottom .sec05_txt01 > .sec05_tit{
    margin:15px 0 30px;
}
#hwanAh_wrap .sec05 .sec05_bottom .hwan_ah_btn{
    margin-bottom: 95px;
    width: 330px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 20px;
    background: url(../mob/m_hwanAh_btn.png) no-repeat;
    background-size: 330px auto;
}

#hwanAh_wrap .sec05 .sec05_bottom .warning_txt{
    font-size: 12px;
    font-family: 'Noto Serif KR', serif;
    display: block;
    white-space: nowrap;
}
#hwanAh_wrap .sec05 .sec05_bottom .warning_txt .warning_icon{
    width: 16px;
    height: 16px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 16px;
    margin-right: 3px;
}

/* section06 */
#hwanAh_wrap .sec06{
    padding:117px 15px 100px;
}
#hwanAh_wrap .sec06 .cont_list_wrap{
    display: block;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_box{
    margin-bottom: 30px;
    width: 100%;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_box:last-child{
    margin-bottom: 0px;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_img_box > img{
    width: 100%;
}


#hwanAh_wrap .sec06 .cont_list_wrap .txt_bttm_box{
    padding:30px 0;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_txt{
    font-size: 16px;
}

#hwanAh_wrap .campaign_txt{
    padding: 24px 15px 26px;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}


} /* 321 ~ 767 end */



@media screen and (max-width: 320px) {
#hwanAh_wrap .sec02_bottom_bg{display:none;}
#hwanAh_wrap .only_pc{display: none;}
#hwanAh_wrap .quick_menu_btn{display: none;}
#hwanAh_wrap .visual .txt_box .visual_btn{display: none;}
#hwanAh_wrap .tit::before{display: none;}
#hwanAh_wrap .tit::after{display: none;}
#hwanAh_wrap .sec03_top .img_box > div .pc_sec03_img{display: none;}
#hwanAh_wrap .pc_txt{display: none;}


#hwanAh_wrap .t_fade_img_wr{display: none;}

#hwanAh_wrap .only_mob{display: block;}
#hwanAh_wrap .mob_txt{display: block;}
#hwanAh_wrap .m_fade_img_wr{display: block;}

/* common */
/* #hwanAh_wrap .sec > div{
    padding:0 15px;
} */
#hwanAh_wrap .mob_common_padding{
    padding:0 15px;
}
#hwanAh_wrap .m_tit{
    font-size: 30px !important;
    line-height: 1.263 !important;
}
#hwanAh_wrap .common_txt_size_20{
    font-size: 14px;
    line-height: 1.714;
}
#hwanAh_wrap .common_txt_size_26{
    font-size: 18px;
    line-height: 1.55;
}
/* #hwanAh_wrap .m_img{display: block; width: 100%;}*/
#hwanAh_wrap .pc_img{display: none;} 


/* floating button */
#hwanAh_wrap .m_quick_menu_btn {
    z-index: 150;
    position: fixed;
    bottom:0;
    left:51.5%;
    transform: translateX(-50%);
    display: block;
    width: 370px;
    height: 117px;
    background:url(../mob/m_floating_btn.png) no-repeat;
    background-size: 340px auto;
    background-position: center center;
}



/* visual */
#hwanAh_wrap .visual{
    padding:293px 15px 0;
    height: auto;
    background: url(../mob/m_visual_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .visual .txt_box .visual_tit{
    font-size: 40px;
}
#hwanAh_wrap .visual .txt_box .visual_txt01{
    font-size: 16px;
    line-height: 1.55;
}
#hwanAh_wrap .visual .common_txt_color{
    font-weight: 400;
}
#hwanAh_wrap .visual .txt_box .visual_txt02{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}
#hwanAh_wrap .visual .txt_box .visual_txt03{
    font-size: 13px;
    margin-bottom:22px;
}
#hwanAh_wrap .visual .txt_box .warning_txt{
    font-size: 12px;
    display: block;
}
#hwanAh_wrap .visual .txt_box .warning_txt .warning_icon{
    margin-right: 0px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

#hwanAh_wrap .visual .video_box{
    margin-top:50px;
    padding-bottom: 56%;
}
#hwanAh_wrap .visual .video_box iframe{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

/* section02 */
#hwanAh_wrap .tit_txt_wr{
    padding:78px 15px 47px;
    background: url(../mob/m_sec02_text_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .tit{
    margin-bottom: 23px;
    font-size: 40px;
}
#hwanAh_wrap .tit_txt_wr .tit_txt_wr_in .txt01{
    margin-bottom:24px;
}
#hwanAh_wrap .m_sec02_bottom_bg {
    display: block;

}
#hwanAh_wrap .m_sec02_bottom_bg > img{
    width: 100%;

}

/* section03 */
#hwanAh_wrap .sec03_top{
    width: 100%;
}
#hwanAh_wrap .sec03_top .txt_box{
    padding:90px 15px 188px;
    width: 100%;
    border-radius: 0;
}
#hwanAh_wrap .sec03_top .txt_box > .txt01{
    font-size: 18px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt02{
    margin:17px 0 36px;
}
#hwanAh_wrap .sec03_top .txt_box > .txt03{
    margin-bottom:16px;
    font-size: 18px;
    line-height: 1.555;
}

#hwanAh_wrap .sec03_top .img_box{
    padding:0 15px;
    width: 100%;
    position: static;
}
#hwanAh_wrap .sec03_top .img_box > img{
    display: none;
}
#hwanAh_wrap .sec03_top .img_box > div{
    top:auto;
    right:auto;
    border-radius: 10px;
    bottom:-150px;
    left:50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    max-width: 380px;
}
#hwanAh_wrap .sec03_top .img_box > div .m_sec03_img{
    display: block;
    width: 100%;
}
#hwanAh_wrap .double_quotation_icon{
    width: 112px;
    height: 112px;
    background-size: 80px auto;
    left: 29px;
    top: -10px;
}

#hwanAh_wrap .sec03_bottom{
    padding:211px 0 177px;
    background: url(../mob/m_sec03_bttm_img_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .sec03_bottom > div{
    padding:0 15px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box{
    position: relative;
    width: calc(50% - 5px);
    padding:4px;
    margin-right: 0;
}
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(1),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(2){
    margin-bottom: 70px;
}
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(1),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(3){
    margin-right: 10px;
}
/* #hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(2),
#hwanAh_wrap .sec03_bottom .contents_list_box:nth-child(4){
    top:110px;
} */
#hwanAh_wrap .sec03_bottom .contents_list_box > .text_wr{
    line-height: 1.42;
    font-size: 14px;
    padding: 8px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section04 */
#hwanAh_wrap .sec04{
    position: relative;
    padding:0;
    width: 100%;
    background: url(../mob/m_sec04_bttm_img_bg.jpg);
}

#hwanAh_wrap .sec04 .inner_1200{
    padding:0 15px;
}
#hwanAh_wrap .sec04 .tit{
    margin-bottom: 36px;
}
#hwanAh_wrap .sec04 .text01{
    font-weight: 500;
}
#hwanAh_wrap .sec04 .text02{
    margin:31px 0 26px;
}

#hwanAh_wrap .m_fade_img_wr{
    position: relative;
    width: 100%;
}
#hwanAh_wrap .sec04 .m_fade_img_wr > img{
    width: 100%;
}
#hwanAh_wrap .sec04 .m_fade_img_wr .fade_in_out{
    position: absolute;
    animation: bg_fadeInOut_bg 4s 2s infinite linear alternate;
}
@keyframes bg_fadeInOut_bg {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    0% {
        opacity: 1;
    }
}
#hwanAh_wrap .sec04 > img{
    position: static;
    min-width: 100%;
    z-index: 0;
    width: 100%;
}

/* section05 */
#hwanAh_wrap .sec05 .sec05_top{
    padding:41px 15px 44px;
    background: url(../mob/m_sec05_text_bg.jpg) no-repeat;
    background-size: cover;
}
#hwanAh_wrap .sec05 .sec05_top .text01{
    margin:26px 0 16px;
    font-weight: 500;
}
    
#hwanAh_wrap .sec05 .sec05_bottom{
    padding: 480px 15px 40px;
    background: url(../mob/m_section05_cont_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
}
#hwanAh_wrap .sec05 .sec05_bottom .sec05_txt01 > .sec05_tit{
    margin:15px 0 30px;
}
#hwanAh_wrap .sec05 .sec05_bottom .hwan_ah_btn{
    padding-right: 40px;
    margin-bottom: 95px;
    width: 290px;
    height: 55px;
    line-height: 55px;
    border-radius: 30px;
    font-size: 17px;
    background: url(../mob/m_hwanAh_btn.png) no-repeat;
    background-size: contain;
}

#hwanAh_wrap .sec05 .sec05_bottom .warning_txt{
    font-size: 10px;
    font-family: 'Noto Serif KR', serif;
    display: block;
    white-space: nowrap;
}
#hwanAh_wrap .sec05 .sec05_bottom .warning_txt .warning_icon{
    width: 14px;
    height: 14px;
    border-radius: 20px;
    font-size: 10px;
    line-height: 14px;
    margin-right: 0px;
}
    
/* section06 */
#hwanAh_wrap .sec06{
    padding:117px 15px 100px;
}
#hwanAh_wrap .sec06 .cont_list_wrap{
    display: block;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_box{
    margin-bottom: 30px;
    width: 100%;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_box:last-child{
    margin-bottom: 0px;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_img_box > img{
    width: 100%;
}
    
    
#hwanAh_wrap .sec06 .cont_list_wrap .txt_bttm_box{
    padding:30px 0;
}
#hwanAh_wrap .sec06 .cont_list_wrap .cont_list_txt{
    font-size: 15px;
}

#hwanAh_wrap .campaign_txt{
    padding: 24px 15px 26px;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}
    
} /* 0 ~ 320*/